*
  box-sizing: border-box

body
  margin: 0

#home
  color: white
  display: block
  height: 100vh
  background-color: darken(blue, 30%)
  text-align: center

  .logo
    max-width: 220px
    width: 25vw
    min-width: 100px

  h1
    font-size: 50px

  .tagline
    font-size: 30px

  .install
    padding: 20px 24px
    background: darken(grey, 50%)
    display: inline
    font-family: monospace
    font-size: 20px
    border-radius: 5px

    &::before
      content: '$ '
