extends ./layout.jade

block content
  .container
    .center
      img(src="https://cdn.rawgit.com/jstransformers/jstransformer/2bb6dc6c410e8683a17a4af5f1b73bcbee95aada/logo.svg" width="300px" height="299px")
      h1 JSTransformers
      p Normalize the API of any source code transformation
    hr
    h2 Transformers
    ul
      each transformer in transformers
        li
          a(href="/jstransformer/" + transformer.name)= transformer.name
          = ' - ' + transformer.description