extends ./layout.jade

block content
  .container
    .center
      img(src="https://cdn.jsdelivr.net/gh/jstransformers/jstransformer@2bb6dc6c410e8683a17a4af5f1b73bcbee95aada/logo.svg" width="300px" height="299px")
      h1 JSTransformers
      p Normalize the API of any source code transformation
    hr
    h2 Transformers
    table
      each transformer in transformers
        tr
          td
            a(href=transformer.name + ".html")= transformer.name
          td
            span= transformer.description
