extends ./layout.jade

block content
  .container
    .center
      img(src="https://cdn.rawgit.com/jstransformers/jstransformer/2bb6dc6c410e8683a17a4af5f1b73bcbee95aada/logo.svg" width="300px" height="299px")
      h1= transformer.name
    hr
    pre: code= JSON.stringify(transformer, null, '  ')